{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="cec-claro" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Contraseña</title>
    {% if debug %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'css/output.min.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/detalles.css' %}">
    <link rel="icon" href="{% static 'img/LOGO_ICONO.png' %}">
</head>

<body class="bg-animado-login min-h-screen">

    {% for message in messages %}

        {% if message.tags == 'success' %}
            <div role="alert" class="fixed bottom-5 z-50 alert alert-success transition-opacity duration-1000 left-1/2 transform -translate-x-1/2 lg:left-auto lg:right-5 lg:translate-x-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>{{ message }}</span>
            </div>
        {% endif %}

        {% if message.tags == 'error' %}
            <div role="alert" class="fixed bottom-5 z-50 alert alert-error transition-opacity duration-1000 left-1/2 transform -translate-x-1/2 lg:left-auto lg:right-5 lg:translate-x-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>{{ message }}</span>
            </div>
        {% endif %}

    {% endfor %}

    <div class="relative min-h-screen flex items-center justify-center">

        <div class="absolute inset-0 bg-[url('/static/img/LOGINBG.png')] bg-cover bg-center opacity-10"></div>

        <form method="post" autocomplete="off" novalidate class="relative bg-white/20 rounded-3xl w-80 h-auto border border-accent/50 m-10 p-10 space-y-4 shadow-lg">
            
            {% csrf_token %}

            <img src="{% static 'img/LOGO_HEADER.png' %}" alt="Logo del CEC" class="h-17 brightness-0 invert-100 mx-auto block">

            <h1 class="font-montserrat text-white text-center font-semibold">Nueva Contraseña</h1>
            <p class="font-montserrat text-xs text-center print:hidden font-light text-warning"><span class="font-semibold">{{ usuario_nombre }}</span>, la contraseña que ingresó era temporal, ingrese una nueva.</p>


            <label class="font-montserrat text-white text-sm font-light">Contraseña</label>
            <div>
                {{ form.new_password1 }}

                {% for error in form.new_password1.errors %}
                    <p class="font-montserrat mt-1 text-xs text-error animate-pulse">
                        {{ error }}
                    </p>
                {% endfor %}
            </div>
            
            <label class="font-montserrat text-white text-sm font-light">Confirmar constraseña</label>
            <div>
                {{ form.new_password2 }}

                {% for error in form.new_password2.errors %}
                    <p class="font-montserrat mt-1 text-xs text-error animate-pulse">
                        {{ error }}
                    </p>
                {% endfor %}
            </div>

            <button type="submit" class="rounded-lg btn border-0 w-full mt-9 items-center bg-indigo-950 text-indigo-300 hover:bg-indigo-900 active:bg-indigo-800">Ingresar</button>
            <div>
                {% for error in form.non_field_errors %}
                    <p class="font-montserrat mt-1 text-xs text-error animate-pulse text-center">
                        {{ error }}
                    </p>
                {% endfor %}
            </div>

        </form>

    </div>

</body>

<script src="{% static 'js/theme.js' %}"></script>
<script src="{% static 'js/alertas.js' %}"></script>

</html>