@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "cec-claro";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: oklch(99.77% 0.0032 197.11);
  --color-base-200: oklch(97.44% 0.0134 240.95);
  --color-base-300: oklch(95.85% 0.0225 237.64);
  --color-base-content: oklch(13.84% 0.0176 256.98);
  --color-primary: oklch(65.04% 0.173 149.76);
  --color-primary-content: oklch(98.27% 0.0273 150.44);
  --color-secondary: oklch(73.8% 0.1233 224.62);
  --color-secondary-content: oklch(97.19% 0.022 214.4);
  --color-accent: oklch(82.72% 0.171067 80.5261);
  --color-accent-content: oklch(67.75% 0.1551 62.59);
  --color-neutral: oklch(13.95% 0.0048 262.8);
  --color-neutral-content: oklch(92% 0.004 262.26);
  --color-info: oklch(82.12% 0.1115 195.2);
  --color-info-content: oklch(49.99% 0.0853 194.77);
  --color-success: oklch(79.58% 0.1724 143.38);
  --color-success-content: oklch(57.18% 0.1661 142.77);
  --color-warning: oklch(78.82% 0.1461 57.65);
  --color-warning-content: oklch(61.8% 0.2064 37.09);
  --color-error: oklch(68.09% 0.2089 32.43);
  --color-error-content: oklch(46.27% 0.1859 20.42);

  --color-extra-1: oklch(27.15% 0.129 273.16);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "cec-oscuro";
  default: false; /* set as default */
  prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: dark; /* color of browser-provided UI */

  --color-base-100: oklch(24.28% 0.0335 271.18);
  --color-base-200: oklch(17.63% 0.0407 281.4);
  --color-base-300: oklch(11.22% 0.0198 282.74);
  --color-base-content: oklch(98.44% 0.0213 175.03);
  --color-primary: oklch(65.04% 0.173 149.76);
  --color-primary-content: oklch(98.27% 0.0273 150.44);
  --color-secondary: oklch(73.8% 0.1233 224.62);
  --color-secondary-content: oklch(97.19% 0.022 214.4);
  --color-accent: oklch(82.72% 0.171067 80.5261);
  --color-accent-content: oklch(67.75% 0.1551 62.59);
  --color-neutral: oklch(13.95% 0.0048 262.8);
  --color-neutral-content: oklch(92% 0.004 262.26);
  --color-info: oklch(82.12% 0.1115 195.2);
  --color-info-content: oklch(49.99% 0.0853 194.77);
  --color-success: oklch(79.58% 0.1724 143.38);
  --color-success-content: oklch(57.18% 0.1661 142.77);
  --color-warning: oklch(78.82% 0.1461 57.65);
  --color-warning-content: oklch(61.8% 0.2064 37.09);
  --color-error: oklch(68.09% 0.2089 32.43);
  --color-error-content: oklch(46.27% 0.1859 20.42);

  --color-extra-1: oklch(27.15% 0.129 273.16);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}