{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="cec-claro" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voto de {{ voto.persona }}</title>
    {% if debug %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'css/output.min.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/detalles.css' %}">
    <link rel="icon" href="{% static 'img/LOGO_ICONO.png' %}">
</head>

<body class="bg-animado-votar min-h-screen">

    {% for message in messages %}

        {% if message.tags == 'success' %}
            <div role="alert" class="fixed bottom-5 z-50 alert alert-success transition-opacity duration-1000 left-1/2 transform -translate-x-1/2 lg:left-auto lg:right-5 lg:translate-x-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>{{ message }}</span>
            </div>
        {% endif %}

        {% if message.tags == 'error' %}
            <div role="alert" class="fixed bottom-5 z-50 alert alert-error transition-opacity duration-1000 left-1/2 transform -translate-x-1/2 lg:left-auto lg:right-5 lg:translate-x-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>{{ message }}</span>
            </div>
        {% endif %}

    {% endfor %}

    <div class="relative min-h-screen flex items-center justify-center">

            <form method="post" novalidate class="relative bg-white/20 rounded-3xl w-auto min-w-80 h-auto border border-accent/50 m-10 p-10 space-y-4 shadow-lg">

                {% csrf_token %}

                {% if radios_jefe %}

                <label class="font-montserrat text-3xl font-bold text-center text-white block italic">
                    JEFE DE CAMPAMENTO
                </label>

                <div class="flex flex-wrap justify-center items-center mx-20 my-10 gap-20 font-montserrat">

                    {% for radio, candidato in radios_jefe %}
                    <label class="cursor-pointer flex flex-col items-center gap-2">

                        {{ radio.tag }}

                        <div class="w-22 h-22 rounded-full flex items-center justify-center transition-all duration-200 peer-checked:ring-4 peer-checked:ring-accent peer-checked:ring-offset-0 hover:scale-105">
                            <img src="{{ candidato.persona.foto.url }}" class="w-20 h-20 rounded-full object-cover">
                        </div>

                        <p title="{{ candidato.persona }}" class="text-md text-white truncate text-center">
                            {{ candidato.persona }}
                        </p>

                    </label>
                    {% endfor %}

                </div>

                {% endif %}

                {% if radios_jefa %}

                <label class="font-montserrat text-3xl font-bold text-center text-white block italic">
                    JEFA DE CAMPAMENTO
                </label>

                <div class="flex flex-wrap justify-center items-center mx-20 my-10 gap-20 font-montserrat">

                    {% for radio, candidata in radios_jefa %}
                    <label class="cursor-pointer flex flex-col items-center gap-2">

                        {{ radio.tag }}

                        <div class="w-22 h-22 rounded-full flex items-center justify-center transition-all duration-200 peer-checked:ring-4 peer-checked:ring-accent peer-checked:ring-offset-0 hover:scale-105">
                            <img src="{{ candidata.persona.foto.url }}" class="w-20 h-20 rounded-full object-cover">
                        </div>

                        <p title="{{ candidata.persona }}" class="text-md text-white truncate text-center">
                            {{ candidata.persona }}
                        </p>

                    </label>
                    {% endfor %}

                </div>

                {% endif %}

                {% if radios_mats %}

                <label class="font-montserrat text-3xl font-bold text-center text-white block italic">
                    JEFE DE MATERIALES
                </label>

                <div class="flex flex-wrap justify-center items-center mx-20 my-10 gap-20 font-montserrat">

                    {% for radio, candidato in radios_mats %}
                    <label class="cursor-pointer flex flex-col items-center gap-2">

                        {{ radio.tag }}

                        <div class="w-22 h-22 rounded-full flex items-center justify-center transition-all duration-200 peer-checked:ring-4 peer-checked:ring-accent peer-checked:ring-offset-0 hover:scale-105">
                            <img src="{{ candidato.persona.foto.url }}" class="w-20 h-20 rounded-full object-cover">
                        </div>

                        <p title="{{ candidato.persona }}" class="text-md text-white truncate text-center">
                            {{ candidato.persona }}
                        </p>

                    </label>
                    {% endfor %}

                </div>

                {% endif %}

                <div class="flex flex-wrap">
                    <button type="reset" class="font-montserrat btn btn-xl w-full mt-10 rounded-lg border-0 items-center bg-red-950 text-red-100 hover:bg-red-900 active:bg-red-800">Reiniciar</button>
                    <button type="submit" class="font-montserrat btn btn-xl w-full mt-3 rounded-lg border-0 items-center bg-green-950 text-green-100 hover:bg-green-900 active:bg-green-800">Votar</button>
                </div>
                
            </form>

    </div>

</body>


<script src="{% static 'js/theme.js' %}"></script>
<script src="{% static 'js/alertas.js' %}"></script>

</html>